
<h2 class="text-center mb-4"><%= t('pagetitle', name: Settings::Client.name) %></h2>

<%= form_for @participation, html: { honeypot: true } do |form| %>
  <%= render partial: 'shared/form', locals: { form: } %>

  <div class="form-check mb-3">
    <%= form.check_box :privacy_policy_accepted, class: 'form-check-input' %>
    <%= form.label :privacy_policy_accepted, class: 'form-check-label' do %>
      <%= t :privacy_policy_html, url: Settings::Url.external_privacy_url %>
    <% end -%>
    <%= show_error_messages @participation, :privacy_policy_accepted %>
  </div>

  <%= form.submit t(:submit), class: 'btn btn-primary' %>
<% end -%>
