
<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= Participation.human_attribute_name :id %></th>
      <% %i[authority_name authority_address authority_email contact_name contact_email contact_phone].each do |col| %>
        <th scope="col"><%= Participation.human_attribute_name :authority_name %></th>
      <% end -%>
      <th scope="col"><%= Participation.human_attribute_name :created_at %></th>
    </tr>
  </thead>
  <tbody>
    <% @participations.each do |entry| -%>
      <tr>
        <th scope="row"><%= entry.id %></th>
        <% %i[authority_name authority_address authority_email contact_name contact_email contact_phone].each do |col| %>
          <td><%= entry.send(col) %></td>
        <% end -%>
        <td><%= l(entry.created_at) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
