<div class="container">
  <h1><%= Participation.model_name.human(count: 2) %></h1>

  <% if flash[:info] %>
    <div class="alert alert-warning" role="alert"><%= flash[:info] %></div>
  <% end %>

  <%= paginate @participations %>

  <table class="table">
    <thead>
      <tr>
        <% %i[id partner_number status authority_name authority_address authority_email contact_name contact_email
              contact_phone created_at].each do |col| -%>
          <th scope="col"><%= Participation.human_attribute_name col %></th>
        <% end -%>
        <th scope="col" class="actions"><%= t('actions.title') %></th>
      </tr>
    </thead>
    <tbody>
      <% @participations.each do |entry| -%>
        <tr>
          <th scope="row"><%= entry.id %></th>
          <td><%= entry.partner_number %></td>
          <td><%= Participation.human_enum_name :status, entry.status %></td>
          <% %i[authority_name authority_address authority_email contact_name contact_email contact_phone].each do |col| -%>
            <td><%= entry.send(col) %></td>
          <% end -%>
          <td><%= l(entry.created_at) %></td>
          <td class="actions">
            <%= render(partial: 'actions', locals: { entry: entry }) %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <%= paginate @participations %>
</div>
