<div class="container">
  <h1><%= User.model_name.human(count: 2) %></h1>

  <%= paginate @entries %>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"><%= User.human_attribute_name :id %></th>
        <th scope="col"><%= User.human_attribute_name :name %></th>
        <th scope="col"><%= User.human_attribute_name :login %></th>
        <th scope="col"><%= User.human_attribute_name :admin %></th>
        <th scope="col" class="actions"><%= t('actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @entries.each do |entry| -%>
        <tr>
          <th scope="row"><%= entry.id %></th>
          <td><%= entry.name %></td>
          <td><%= entry.login %></td>
          <td><%= content_tag(:i, '', class: 'fa fa-check') if entry.role_admin? %></td>
          <td class="actions">
            <%= link_to content_tag(:i, '', class: 'fa fa-pencil'), edit_admin_user_path(entry),
                        class: 'btn btn-sm btn-outline-primary' %>
            &nbsp;
            <%= link_to content_tag(:i, '', class: 'fa fa-trash'), admin_user_path(entry),
                        class: 'btn btn-sm btn-outline-primary',
                        data: { turbo_method: :delete, turbo_confirm: t('action.confirm_delete') } %>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <%= paginate @entries %>
</div>

<% content_for :footer do -%>
  <%= link_to t('action.new'), new_admin_user_path, class: 'btn btn-primary float-end' %>
<% end -%>
